<div class="container">
  <% if flash[:notice] %>
    <div class="alert alert-success"><%= flash[:notice] %></div>
  <% elsif flash[:error] %>
    <div class="alert alert-danger"><%= flash[:alert] %></div>
  <% end %>